.gallery-container {
    display: flex;
    justify-content: center;
  }
  
  .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .thumbnails img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .scrollbar {
    width: 1px;
    height: 720px;
    background: #ccc;
    display: block;
    margin: 0 0 0 8px;
  }
  
  .thumb {
    width: 1px;
    position: absolute;
    height: 0;
    background: #000;
  }
  
  .slides {
    margin: 0 16px;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    width: calc(540px + 1rem);
    padding: 0 0.25rem;
    height: 720px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
  }
  
  .slides > div {
    scroll-snap-align: start;
  }
  
  .slides img {
    width: 540px;
    object-fit: contain;
  }
  
  .slides::-webkit-scrollbar {
    display: none;
  }



  /*  staggger animation using css */
  .container {
    overflow-x: hidden;
    width: 100%;
  }
  
  .menu-toggler {
    display: none;
  }
  
  .menu-toggler-label {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  
  .stagger-menu {
    list-style-type: none;
    margin: 16px 0;
    padding: 0;
  }
  
  .stagger-menu li {
    margin-bottom: 8px;
    font-size: 18px;
    opacity: 0;
    transform: translateX(100%);
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.750, -0.015, 0.565, 1.055);
  }
  
  .menu-toggler:checked ~ .stagger-menu li {
    opacity: 1;
    transform: translateX(0);
    transition-delay: calc(0.055s * var(--i));
  }